footer {
  background-color: #2c3e50;
  padding: 5rem;
  margin-top: 100px;
}
footer .all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
footer .all .location h1 {
  font-weight: bold;
}
footer .all .location p {
  margin-left: -15px;
  font-size: large;
  margin-top: 20px;
  width: 200px;
}
footer .around h1 {
  font-weight: bold;
}
footer .around .social {
  cursor: pointer;
  margin-top: 20px;
  font-size: 33px;
  margin-left: 30px;
}
footer .around .social .fa-facebook:hover {
  color: black;
  transition: 0.5s;
}
footer .around .social .fa-twitter:hover {
  color: black;
  transition: 0.5s;
}
footer .around .social .fa-linkedin:hover {
  color: black;
  transition: 0.5s;
}
footer .around .social .fa-instagram:hover {
  color: black;
  transition: 0.5s;
}
footer .freelance h1 {
  font-weight: bold;
}
footer .freelance p {
  font-size: large;
  width: 270px;
}
footer .freelance p a {
  color: aqua;
}

#copyright {
  background-color: #1a252f;
}
#copyright .copyright p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#start {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1ABC9C;
}
#start img {
  margin-bottom: 40px;
  margin-left: 250px;
  margin-top: 100px;
  height: 250px;
  width: 250px;
}
#start h1 {
  color: white;
  font-size: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#start h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  margin-bottom: 80px;
  margin-top: 60px;
}

#portfolio h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
  color: #2c3e50;
}
#portfolio .cards {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  margin-left: 37px;
  margin-bottom: 100px;
}
#portfolio .cards img {
  height: 250px;
  width: 350px;
  border-radius: 15px;
}
#portfolio .cards .card1:hover {
  background-color: #1ABC9C;
  border-radius: 15px;
  height: 250px;
  width: 350px;
}
#portfolio .cards .card1:hover img {
  opacity: 0.3;
}
#portfolio .cards .card2:hover {
  background-color: #1ABC9C;
  border-radius: 15px;
  height: 250px;
  width: 350px;
}
#portfolio .cards .card2:hover img {
  opacity: 0.3;
}
#portfolio .cards .card3:hover {
  background-color: #1ABC9C;
  border-radius: 15px;
  height: 250px;
  width: 350px;
}
#portfolio .cards .card3:hover img {
  opacity: 0.3;
}
#portfolio .cards .card4:hover {
  background-color: #1ABC9C;
  border-radius: 15px;
  height: 250px;
  width: 350px;
}
#portfolio .cards .card4:hover img {
  opacity: 0.3;
}
#portfolio .cards .card5:hover {
  background-color: #1ABC9C;
  border-radius: 15px;
  height: 250px;
  width: 350px;
}
#portfolio .cards .card5:hover img {
  opacity: 0.3;
}
#portfolio .cards .card6:hover {
  background-color: #1ABC9C;
  border-radius: 15px;
  height: 250px;
  width: 350px;
}
#portfolio .cards .card6:hover img {
  opacity: 0.3;
}

#about {
  margin-bottom: 100px;
  background-color: #1ABC9C;
}
#about h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 40px;
  color: white;
}
#about h4 {
  margin-top: 100px;
  height: 200px;
  width: 500px;
  margin-left: 60px;
  font-size: 20px;
  color: white;
}
#about h3 {
  margin-top: 100px;
  width: 500px;
  font-size: 20px;
  margin-left: 700px;
  margin-top: -215px;
  color: white;
}
#about .btn {
  padding: 40px;
  margin-bottom: -200px;
  margin-left: 640px;
  margin-top: 100px;
}
#about .btn button {
  cursor: pointer;
  padding: 20px;
  background-color: #1ABC9C;
  border: 3px solid honeydew;
  border-radius: 10px;
  color: white;
  transition: 0.4s;
}
#about .btn button:hover {
  background-color: white;
  color: black;
}
#about .btn button .fa-download {
  margin-right: 10px;
}

#contact h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 300px;
  margin-bottom: 40px;
  color: #2c3e50;
}

.input hr {
  margin-left: 160px;
  width: 750px;
}
.input input {
  font-size: 40px;
  display: block;
  margin-left: 150px;
  padding: 10px;
  margin-bottom: 40 px;
  border: none;
}

.contact button {
  cursor: pointer;
  padding: 20px;
  background-color: #1ABC9C;
  border-radius: 10px;
  border: 3px solid honeydew;
  color: white;
  transition: 0.4s;
  margin-left: 160px;
  margin-top: 10px;
}
.contact button:hover {
  background-color: #0c7f68;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #2c3e50;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 2rem;
}
.navbar h2 {
  cursor: pointer;
  margin-left: -100px;
  color: white;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-right: -50px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
}
.portfolio a:hover {
  color: #1ABC9C;
}
.portfolio a {
  transition: 0.4s;
  color: white;
}/*# sourceMappingURL=main.css.map */