//              SECTION 1

#start {
  @include Flexbox;
  background-color: $primary-color;

  img {
    margin-bottom: 40px;
    margin-left: 250px;
    margin-top: 100px;
    height: 250px;
    width: 250px;
  }
  h1 {
    color: $third-color;
    font-size: 70px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  h3 {
    @include Flexbox;
    color: $third-color;
    font-size: 30px;
    margin-bottom: 80px;
    margin-top: 60px;
  }
}
//  SECTION 2 PORTFOLIO
#portfolio {
  h1 {
    @include Flexbox;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    color: $secondary-color;
  }
  .cards {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    margin-left: 37px;
    margin-bottom: 100px;
    img {
      height: 250px;
      width: 350px;
      border-radius: 15px;
    }
    .card1:hover {
      background-color: $primary-color;
      border-radius: 15px;
      height: 250px;
      width: 350px;

      img {
        opacity: 0.3;
      }
    }
    .card2:hover {
      background-color: $primary-color;
      border-radius: 15px;
      height: 250px;
      width: 350px;

      img {
        opacity: 0.3;
      }
    }

    .card3:hover {
      background-color: $primary-color;
      border-radius: 15px;
      height: 250px;
      width: 350px;

      img {
        opacity: 0.3;
      }
    }
    .card4:hover {
      background-color: $primary-color;
      border-radius: 15px;
      height: 250px;
      width: 350px;

      img {
        opacity: 0.3;
      }
    }
    .card5:hover {
      background-color: $primary-color;
      border-radius: 15px;
      height: 250px;
      width: 350px;

      img {
        opacity: 0.3;
      }
    }
    .card6:hover {
      background-color: $primary-color;
      border-radius: 15px;
      height: 250px;
      width: 350px;

      img {
        opacity: 0.3;
      }
    }
  }
}
//  <!-- SECTION 3 ABOUT -->

#about {
  margin-bottom: 100px;
  background-color: $primary-color;
  h1 {
    @include Flexbox;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
    color: $third-color;
  }
  h4 {
    margin-top: 100px;
    height: 200px;
    width: 500px;
    margin-left: 60px;
    font-size: 20px;
    color: $third-color;
  }
  h3 {
    margin-top: 100px;

    width: 500px;
    font-size: 20px;
    margin-left: 700px;
    margin-top: -215px;
    color: $third-color;
  }
  .btn {
    padding: 40px;
    margin-bottom: -200px;
    margin-left: 640px;
    margin-top: 100px;
  }
  .btn button {
    cursor: pointer;
    padding: 20px;
    background-color: $primary-color;
    border: 3px solid honeydew;
    border-radius: 10px;
    color: $third-color;
    transition: 0.4s;
    &:hover {
      background-color: $third-color;
      color: black;
    }
    .fa-download {
      margin-right: 10px;
    }
  }
}
// <!-- SECTON 4 CONTACT -->

#contact {
  h1 {
    @include Flexbox;
    font-size: 50px;
    margin-top: 300px;
    margin-bottom: 40px;
    color: $secondary-color;
  }
}
.input {
  hr {
    margin-left: 160px;
    width: 750px;
  }
  input {
    font-size: 40px;
    display: block;
    margin-left: 150px;
    padding: 10px;
    margin-bottom: 40 px;
    border: none;
  }
}
.contact {
  button {
    cursor: pointer;
    padding: 20px;
    background-color: $primary-color;
    border-radius: 10px;
    border: 3px solid honeydew;
    color: $third-color;
    transition: 0.4s;
    margin-left: 160px;
    margin-top: 10px;
    &:hover {
      background-color: #0c7f68;
    }
  }
}
